body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  background-color: white;
  margin: 0;
  padding: 0;
}

  .container {
    margin-top: 20px;
  }

  h1 {
  font-family: Fantasy; /* 标题字体 */
  color: black;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

  .sidebar {
    padding: 15px;
    border-radius: 5px;
  }

  .btn {
    background-color: skyblue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
  }

  .btn:hover {
    background-color: #2980b9;
  }

  #result_count {
    color: black;
    font-size: 12px;
    margin-top: 20px;
  }

  table.dataTable {
    border: 1px solid AliceBlue;
    border-radius: 5px;
    overflow: hidden;
  }

  table.dataTable th, table.dataTable td {
    text-align: center;
    vertical-align: middle;
  }

  table.dataTable thead th {
    background-color: #2980b9;
    color: white;
  }

  table.dataTable tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
  }

  table.dataTable tbody tr:nth-child(even) {
    background-color: white;
  }
