    <title>Conclusion</title>
    <ul>
      <li>The state with the most traffic accidents in the U.S. is California, and the number of traffic accidents is increasing every year.</li>
      <li>The main factors that affect traffic accidents are weather, road conditions, and travel time. The better the weather and the worse the road conditions, the more frequent the accidents are.</li>
      <li>The accident rate is high during the daytime on weekdays and higher at night on days off than on weekdays. Drivers should drive carefully at night or during rush hour to avoid accidents.</li>
      <li>Travel time, on the other hand, is related to people's lifestyle. The more economically developed the cities are, the higher the number of accidents.</li>
    </ul>
