.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #00a65a !important;
    border-top-width: 0 !important;
}

.selectize-dropdown .selectize-dropdown-content .option {
    background-color: #ffffff !important; 
    color: #000000 !important;            
}

.selectize-dropdown .selectize-dropdown-content .option:hover {
    background-color: #00a65a !important; 
    color: #ffffff !important;            
}

.selectize-dropdown .selectize-dropdown-content .option.selected,
.selectize-dropdown .selectize-dropdown-content .option.active {
    background-color: #00a65a !important; 
    color: #ffffff !important;            
}
